/* Main Layout for Home Page */
.blog-post {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.blog-post header img, 
.blog-post section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem auto;
}

.subscribe form input, 
.subscribe form button {
    padding: 0.5rem;
    font-size: 1rem;
}

.subscribe form button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
}

.subscribe form button:hover {
    background-color: var(--secondary-color);
}
